#body-wrapper {
    display: flex;
}

#models-wrapper {
    flex: 1;
}
#models-wrapper canvas {
    width: 100%;
    height: 600px;
}
#menu-wrapper {
    margin: 40px 0;
    border-color: #eeeeee;
    border-width: 0 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}