/* ======================== 
          FONTS
   ======================== */

/*
TODO: This is affecting the whole notebook. Find a way to just apply this changes to the Diagrammer canvas
*/

@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSansLight.ttf')  format('truetype');
}

@font-face {
    font-family: 'DKBitumen';
    src: url('../font/DKBitumen.otf')  format('truetype');
}

@font-face {
    font-family: 'orangeJuice';
    src: url('../font/orangejuice2.0.ttf')  format('truetype');
}

#devs_diagrammer {
  width: 100%;
  height: 100%;
	color: #FFFFFF;
  background-color: #252525;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#devs_diagrammer h1, h2 {
  color: rgba(208, 192, 4, 0.93);
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 10px;
}

#devs_diagrammer h2 {
  font-size: 20px;
}

#devs_diagrammer h1 {
  font-size: 25px;
}

#devs_diagrammer header {
  font-family: 'orangeJuice';
  height: 60px;
  width: 100%;
  background-color: rgba(62, 62, 62, 0.75);
  border-bottom: solid 5px #404040;
  padding-top: 20px;
  color: rgba(177, 163, 5, 0.93);
  font-size: 80px;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  line-height: 50px;
}

#devs_diagrammer canvas {
  width: 90%;
  height: calc(90vh - 85px);
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 5px #0a0a0a;
}

#devs_diagrammer button {
  cursor: pointer;
  border: solid 2px #374c41;
  background-color: #104240;
  color: #a1a1a1;

  border-radius: 2px;
  box-shadow: 2px 3px 5px #171717;
}

#devs_diagrammer button:hover, label[for="model_file"]:hover, label:hover {
  background-color: #0e373a;
  color: #a1a1a1;
}

#devs_diagrammer button.action {
  width: 171px;
}

#devs_diagrammer button.export {
  width: 120px;
}

#devs_diagrammer li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* ========================
      wrappers and lists
   ======================== */

#devs_diagrammer .two-column-list, .three-column-list {
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  column-gap: 20px;
  column-fill: auto;
}

#devs_diagrammer .two-column-list {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}

#devs_diagrammer .three-column-list {
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#devs_diagrammer .list-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 0px;
  
  font-size: 14px;
  text-align: left;
}

#devs_diagrammer .options-wrapper {
  background-color: rgb(25, 25, 25);
  border-radius: 2px;
  border: 1px solid #121212;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);

  font-weight: bold;
  color: #a1a1a1;
}


/* ========================
          divs
   ======================== */

#devs_diagrammer #body-wrapper {
  width: 60vw;
  height: calc(100vh - 85px);
}

#devs_diagrammer #models-wrapper {
  display:block;
  width: 65vw
  height: 95%;
  float: left;
  overflow-y: auto;
}

#devs_diagrammer #menu-wrapper {
  width: calc(35% - 5px);
  height: 100%;
  float: right;
  text-align: center;
  overflow-y: auto;
}

/* ========================
          Scrollbar
   ======================== */

#devs_diagrammer ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #191919;
}

#devs_diagrammer ::-webkit-scrollbar {
  width: 10px;
  background-color: #191919;
}

#devs_diagrammer ::-webkit-scrollbar-thumb {
  background-color: rgba(208, 192, 4, 0.93);
}

/* ==========================
      model input file
   ========================== */

#devs_diagrammer label[for="model_file"] {

  width: 400px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;

  display: inline-block;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 1px 8px;

  cursor: pointer;
  
  background-color: #164241;
  color: #a1a1a1;
  border-radius: 2px;
  border: solid 2px #384d42;
  box-shadow: 2px 3px 5px #171717;
}

/* =========================
        Color menu
   ========================= */

#devs_diagrammer input[type="color"], input[type="file"], button.color_button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  -webkit-appearance: none;
  border: none;

  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#devs_diagrammer input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#devs_diagrammer input[type="color"]::-webkit-color-swatch {
  border: solid;
}

#devs_diagrammer .color {
  cursor: pointer;
  display: inline-block;
  width: 115px;
  padding: 2px 6px 3px;
  text-align: center;

  border: solid 1px #384d42;
  color: #a1a1a1;
  background-color: #164241;
}

/* ==================================================
                Basic page
   ================================================== */
#devs_diagrammer .basic-page div#body-wrapper{
  width: 100%;
  height: 100vh;
}

#devs_diagrammer .basic-page #models-wrapper{
  width: 100%;
  height: unset;
}

#devs_diagrammer .basic-page #models-wrapper > canvas {
  margin: 10px;
}

#devs_diagrammer .basic-page #menu-wrapper{
  width: 100%;
  height: initial;
  border: 0;
}

#devs_diagrammer .list-wrapper {
  width: fit-content;
}


/* ==================================================
                small screen styles
   ================================================== */